.diff {
    margin-left: 3em;
}

.diff-add {
    /*background-color:#aaffaa;*/
    color: green;
}
.diff-chg {
    /*background-color:#ffff77;*/
    color: olive;
}

.diff-sub {
    /*background-color:#ffaaaa;*/
    color: maroon;
}

.diff-range {
    text-decoration: underline;
}

.diff-files {
    font-weight: bold;
}

.diff-special {
    /*font-style: italic;*/
    font-variant: small-caps;
    color: gray;
}
