.diff_add {
    /*background-color:#aaffaa;*/
    color: green;
}
.diff_chg {
    /*background-color:#ffff77;*/
    color: olive;
}

.diff_sub {
    /*background-color:#ffaaaa;*/
    color: maroon;
}

.diff_range {
    text-decoration: underline;
}

.diff_files {
    font-weight: bold;
}

.diff_special {
    /*font-style: italic;*/
    font-variant: small-caps;
    color: gray;
}
