<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Delete exercise - ${exercise.id}</title>
  </head>
  <body>
    <h1>Delete exercise</h1>
    <div id="ivle_padding">
      <div><strong>Identifier:</strong> ${exercise.id}</div>
      <div><strong>Name:</strong> ${exercise.name}</div>
      <p>Are you sure you want to delete this exercise? It has not been used by any worksheets.</p>
      <form action="" method="POST">
        <input type="submit" value="Delete"/>
      </form>
    </div>
  </body>
</html>
