<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Manage exercises</title>
    <!-- These let the javascript know which worksheet is open -->
    <script type="text/javascript">
    </script>
  </head>
  <body>
    <h1>Exercises</h1>
    <div id="ivle_padding">
      <table class="pretty_table">
        <thead>
          <tr><th>Name</th><th>Display name</th><th>Actions</th></tr>
        </thead>
        <tbody>
          <tr py:for="exercise in exercises">
            <td><a class="exercise_header" href="${req.publisher.generate(exercise)}">${exercise.id}</a></td>
            <td>${exercise.name}</td>
            <td>
              <a href='${req.publisher.generate(exercise)}/+edit' title='Edit'><img src="${mediapath + 'pencil.png'}" alt="Edit" /></a>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
    <a class="addaction" href="/+exercises/+add">Create new exercise</a>
    </div>
  </body>
</html>
