<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Test - ${exercise.name}</title>
    <!-- These let the javascript know which worksheet is open -->
    <script type="text/javascript">
      worksheet = null;
      exercise = '${exercise.id}';
    </script>
  </head>
  <body>
    <h1>${exercise.name}</h1>
    <div id="ivle_padding">
      <div py:if="'edit' in exercise.get_permissions(req.user, req.config)"
           class="contextactions">
        <a class="editaction" href="${req.publisher.generate(exercise, ExerciseEditView)}">Edit exercise</a>
        <a class="deleteaction" href="${req.publisher.generate(exercise, ExerciseDeleteView)}">Delete exercise</a>
      </div>
      <p>
        You may test this exercise here. Submission results will not be recorded as they would be in a worksheet.
      </p>
      ${exercise_fragment}
    </div>
  </body>
</html>
