<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Exercises</title>
    <!-- These let the javascript know which worksheet is open -->
    <script type="text/javascript">
    </script>
  </head>
  <body>
    <h1>Exercises</h1>
    <div id="ivle_padding">
    <ul>
      <py:for each="exercise in exercises">
        <li class="exercise_names">
          <div><a class="exercise_header" href="${req.publisher.generate(exercise)}">${exercise.id}</a></div>${exercise.name}
        </li>
      </py:for>
    </ul>
    <a class="addaction" href="/+exercises/+add">Create an exercise</a>
    </div>
  </body>
</html>
