<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Create exercise</title>
  </head>
  <body>
    <h1>Create exercise</h1>
    <div id="ivle_padding">
      <label for="exercise_name">Display name:</label>
      <input class="textinput" type='text' id='exercise_name' />
      <br />
      <label for="exercise_id">URL name:</label>
      <input class="textinput" type="text" id="exercise_id" />
      <br />
      <label for="exercise_num_rows">Predicted code line count:</label>
      <input size="5" type="text" id="exercise_num_rows" value="4" />
      <br />
      <label for="exercise_desc">Description (reStructuredText):</label><br />
      <textarea cols="80" rows="10" id="exercise_desc"></textarea>
      <br />
      <label for="exercise_solution">Full solution (Python):</label><br />
      <textarea cols="80" rows="5" id="exercise_solution"></textarea>
      <br />
      <label for="exercise_partial">Partial solution (Python, provided to students):</label><br />
      <textarea cols="80" rows="5" id="exercise_partial"></textarea>
      <br />
      <label for="exercise_include">Included code (Python):</label><br />
      <textarea cols="80" rows="5" id="exercise_include"></textarea>
      <br />
      <p><input type="submit" value="Save Changes" onclick="add_exercise()" /></p>
    </div>
  </body>
</html>
