<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">
  <div class="exercise" id="${exercise.id}">
    <p><b>Exercise:</b> ${exercise.name}</p>
    <py:if test="description is not None">
      <div id="description">${description}</div>
    </py:if>
    <py:if test="error">
      <div class="error">${error}</div>
    </py:if>
    <input id="input_resettext_${exercise.id}" type="hidden" value="${exercise.partial}" />
    <textarea id="textarea_${exercise.id}" class="exercisebox"
        onkeypress="return catch_textbox_input(&quot;${exercise.id}&quot;, '${exercise.id}',
        event.keyCode)"
        onchange="set_saved_status(&quot;${exercise.id}&quot;, '${exercise.id}',
        &quot;Save&quot;)"
        cols="80" rows="${exercise.num_rows}">${exercisesave}</textarea>
    <div class="exercisebuttons">
      <py:if test="worksheet">
        <input type="button" value="Saved" disabled="disabled" id="savebutton_${exercise.id}"
            onclick="saveexercise(&quot;${exercise.id}&quot;, '${exercise.id}')"
            title="Save your solution to this exercise" />
        <input type="button" value="Reset" id="resetbutton_${exercise.id}"
            onclick="resetexercise(&quot;${exercise.id}&quot;, '${exercise.id}')"
            title="Reload the original partial solution for this exercise" />
      </py:if>
      <input type="button" value="Run"
          onclick="runexercise(&quot;${exercise.id}&quot;, '${exercise.id}')"
          title="Run this program in the console" />
      <input type="button" value="Submit"
              id="submitbutton_${exercise.id}"
              onclick="submitexercise(&quot;${exercise.id}&quot;, '${exercise.id}')"
              title="Submit this solution for evaluation" />
    </div>
    <p class="form_error" py:if="worksheet is not None and worksheet.offering.has_worksheet_cutoff_passed(req.user)">
      <strong>Note:</strong> The worksheets for this subject have closed.
      Future submissions will not count towards your marks.</p>
    <div class="testoutput">
    </div>
    <div py:if="worksheet" class="problem_summary">
      <ul>
        <li id="summaryli_${exercise.id}" class="${complete_class}">
          <b><span id="summarycomplete_${exercise.id}">${complete}</span>.</b>
            Attempts: <span id="summaryattempts_${exercise.id}">${attempts}</span>.
        </li>
      </ul>
    </div>
    <!-- This is filled in by javascript when the page loads -->
    <div py:if="worksheet" class="attempthistory">
      <p>
        <a title="Click to view previous submissions you have made for this exercise" 
              onclick="open_previous(&quot;${exercise.id}&quot;, '${exercise.id}')">
          View previous attempts
        </a>
      </p>
    <div style="display: none">
      <h3>Previous attempts</h3>
        <p>
          <a title="Close the previous attempts" onclick="close_previous(&quot;${exercise.id}&quot;)">
            Close attempts
          </a>
        </p>
        <p class="attemptslist" style="display: none">
          <select title="Select an attempt's time stamp from the list">
            <option></option>
          </select>
          <input type="button" value="View"
              onclick="select_attempt(&quot;${exercise.id}&quot;, '${exercise.id}')" />
        </p>
        <p class="noattempts" style="display: none">
          No attempts have been made for this exercise.
        </p>
        <p>
          <textarea readonly="readonly" class="exercisebox" cols="80" rows="${exercise.num_rows}"
              title="You submitted this code on a previous attempt">
          </textarea>
        </p>
      </div>
    </div>
  </div>
</html>
