<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Worksheet marks for ${context.subject.name} (${context.semester.year} semester ${context.semester.semester})</title>
  </head>
  <body>
    <h1>Worksheet marks for ${context.subject.name}</h1>
    <div id="ivle_padding">
    <p class="form_error" py:if="error" py:content="error" />
    <p py:if="cutoff">Showing marks calculated as of ${cutoff.strftime("%Y-%m-%d %H:%M:%S")}.</p>
    </div>
  </body>
</html>
