<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">
  <body py:strip="">
      <form class="verticalform" method="post" action="">
        <div>
          <label for='worksheet_name'>Display name:</label>
          <input type='text' id='worksheet_name' name='name' class='worksheet_area' />
          <span py:if="'name' in errors" class="form_error">${errors.name}</span>
        </div>
        <div>
          <label for='worksheet_identifier'>URL name:</label>
          <input type='text' id='worksheet_identifier' name='identifier' class='worksheet_id' />
          <span py:if="'identifier' in errors" class="form_error">${errors.identifier}</span>
        </div>
        <div>
          <label for='worksheet_assessable'>Assessable:</label>
          <input type='checkbox' name='assessable' id='worksheet_assessable' />
          <span py:if="'assessable' in errors" class="form_error">${errors.assessable}</span>
        </div>
        <div>
          <label for='worksheet_published'>Published:</label>
          <input type='checkbox' name='published' id='worksheet_published' />
          <span py:if="'published' in errors" class="form_error">${errors.published}</span>
        </div>
        <div>
          <label for='worksheet_format'>Format:</label>
          <select name='format' id='worksheet_format'>
            <py:for each="(display,name) in formats">
              <option value='${name}'>${display}</option>
            </py:for>
          </select>
          <span py:if="'format' in errors" class="form_error">${errors.format}</span>
        </div>
        <div>
          <label for="worksheet_data">Content:</label>
          <textarea id='worksheet_data' name='data' class='worksheet_area' cols='80'
          rows='30'></textarea>
          <br />
          <span py:if="'data' in errors" class="form_error">${errors.data}</span>
        </div>
        <div class="submit">
          Any exercises referenced in this worksheet must exist before you can save it.
          <a class="manageaction" href="/+exercises">Manage exercises</a>
        </div>
        <div class="submit">
          <input type="submit" value="${submit_button_label}" />
        </div>
      </form>
  </body>
</html>
