#projectset_list > li {
  margin: 0.5em 0;
  border: 2px solid #bbb;
}

#projectset_list > li > h3 {
  padding: 0.2em;
  margin: 0;
  background: #eee;
}

#add_projectset {
    padding: 10px;
}

.add-project {
    width: 600px;
    padding-left: 40px;
}

.add-project label {
    position: absolute;
    text-align: right;
}

.add-project input, textarea {
    margin-left: 100px;
    width: 400px;
}

.project-synopsis {
    width: 400px;
    white-space: pre-wrap;
}

.add-project div {
    display: none;
}

li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.project-title {
    float: left;
    text-align: left;
    width: 250px;
}

.project-title img {
    border: medium none;
}
