<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">
  <body py:strip="">
      <p py:if="req.user.admin" class="form_error">
        <strong>Warning:</strong> Changing the subject or semester <em>will
        break</em> any existing Subversion repositories or checkouts
        associated with this offering. Be very careful.
      </p>
      <form class="verticalform" action="" method="post">
        <div>
          <py:if test="req.user.admin">
          <div>
            <label for="subject">Subject:</label>
            <span py:if="force_subject">${force_subject.name} <input type="hidden" name="subject" value="${force_subject.short_name}" /></span>
            <py:if test="force_subject is None">
              <select id="subject" name="subject">
                <option py:for="subject in subjects" value="${subject.short_name}">${subject.name}</option>
              </select>
              <span py:if="'subject' in errors" class="form_error">${errors.subject}.</span>
              <a class="addaction" href="/subjects/+new">Create new subject</a>
            </py:if>
          </div>
          <div>
            <label for="semester">Semester:</label>
            <select id="semester" name="semester">
              <option py:for="semester in semesters" value="${semester.year}/${semester.url_name}">${semester.year} ${semester.display_name}</option>
            </select>
            <span py:if="'semester' in errors" class="form_error">${errors.semester}.</span>
            <a class="addaction" href="/+semesters/+new">Create new semester</a>
          </div>
          </py:if>
          <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description" cols="80" rows="10"></textarea>
            <span py:if="'description' in errors" class="form_error">${errors.description}.</span>
          </div>
          <div>
            <label for="url">Home page URL:</label>
            <input type="text" id="url" name="url" />
            <span py:if="'url' in errors" class="form_error">${errors.url}.</span>
          </div>
        <div>
          <label for="deadline">Worksheets cutoff:</label>
          <input type="text" id="worksheet_cutoff" name="worksheet_cutoff" title="Timestamp in YYYY-MM-DD HH:MM:SS format" />
          <span py:if="'worksheet_cutoff' in errors" class="form_error">${errors.worksheet_cutoff}</span>
          <span py:if="'worksheet_cutoff' not in errors">Leave blank to allow worksheet submissions to be counted indefinitely.</span>
        </div>
        <div>
          <label for="show_worksheet_marks">Show worksheet marks:</label>
          <input type="checkbox" name="show_worksheet_marks" id="show_worksheet_marks" />
          <span py:if="'show_worksheet_marks' in errors" class="form_error">${errors.show_worksheet_marks}</span>
        </div>
          <div class="submit form_error" py:if="defined('error_value')" py:content="error_value" />
          <div class="submit">
            <input type="submit" value="${submit_button_label}" />
          </div>
        </div>
      </form>
  </body>
</html>
