<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Clone worksheets to ${context.subject.name}</title>
  </head>
  <body>
    <h1>Clone worksheets</h1>
    <div id="ivle_padding">
      <p>
        If this offering has no existing worksheets, you can copy a set from
        any other offering to this one. Any changes made afterwards in either
        copy will not be reflected in the other.
      </p>
      <form class="verticalform" action="" method="post">
        <div>
          <label for="subject">Source subject:</label>
          <select id="subject" name="subject">
            <option py:for="subject in subjects" value="${subject.short_name}">${subject.name}</option>
          </select>
          <span py:if="'subject' in errors" class="form_error">${errors.subject}.</span>
        </div>
        <div>
          <label for="semester">Source semester:</label>
          <select id="semester" name="semester">
            <option py:for="semester in semesters" value="${semester.year}/${semester.semester}">${semester.year} semester ${semester.semester}</option>
          </select>
          <span py:if="'semester' in errors" class="form_error">${errors.semester}.</span>
        </div>
        <div class="submit form_error" py:if="defined('error_value')" py:content="error_value" />
        <div class="submit">
          <input type="submit" value="Clone" />
        </div>
      </form>
    </div>
  </body>
</html>

