<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>${context.subject.name} (${context.semester.year} semester ${context.semester.semester})</title>
  </head>
  <body>
    <h1>${context.subject.name}</h1>
    <div id="ivle_padding">
      <div class="contextactions">
        <a py:if="'enrol' in permissions"
           class="groupaction"
           href="${req.publisher.generate(context, None, ('+enrolments', '+new'))}">
          Enrol users
        </a>
      </div>

      <div py:if="'edit' in permissions or context.projects.count() > 0"
           class="majorsection">
        <h2>Projects</h2>
        <py:choose test="context.projects.count()">
          <p py:when="0">
            There are no projects for this offering.
          </p>

          <ul py:otherwise="" class="paddedlist">
            <li py:for="project in context.projects"
                py:attrs="{'class': 'project closed'}
                          if project.has_deadline_passed(req.user)
                          else {'class': 'project'}">
              <a href="${project.url}">${project.name}</a> &ndash;
              <span py:content="format_submitters(req.user, project.project_set.get_submitters(req.user))" /> &ndash;
              <span title="${format_datetime(project.deadline)}">
                ${'closed' if project.has_deadline_passed(req.user) else 'due'} ${format_datetime_short(project.deadline)}
              </span><br />
              ${project.synopsis}
            </li>
          </ul>
        </py:choose>

        <a py:if="'edit' in permissions"
           class="manageaction"
           href="${req.publisher.generate(context, None, '+projects')}">
          Manage projects
        </a>
      </div>

      <div py:if="'edit' in permissions or context.worksheets.count() > 0"
           class="majorsection">
        <h2>Worksheets</h2>
        <py:choose test="context.worksheets.count()">
          <p py:when="0">
            There are no worksheets for this offering.
            <a class="addaction" href="${req.publisher.generate(context, None, ('+worksheets', '+new'))}">Create one now</a>
          </p>
          <div py:otherwise="">
            <a py:if="'edit' in permissions"
               class="manageaction"
               href="${req.publisher.generate(context, None, ('+worksheets', '+edit'))}">
              Manage worksheets
            </a>
          </div>
        </py:choose>
      </div>
    </div>
  </body>
</html>
    

