<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Projects for ${offering.subject.name}</title>
  </head>
  <body>
    <h1>Projects for ${offering.subject.name}</h1>
    <div id="ivle_padding">
      <ul id="projectset_list">
        <py:for each="projectset in projectsets">
          ${projectset}
        </py:for>
      </ul>
      <div class="add-projectset">
        <a href="${req.publisher.generate(offering)}/+projects/+new-set"
            class="addaction">Add a new project set</a>
      </div>
    </div>
  </body>
</html>
