<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Projects for ${offering.subject.name}</title>
  </head>
  <body>
    <h1>Projects for ${offering.subject.name}</h1>
    <div id="ivle_padding">
      <ul id="projectset_list">
        <py:for each="projectset in projectsets">
          ${projectset}
        </py:for>
      </ul>
      <div class="add-projectset">
        <a href="#" id="add_new_projectset"
           class="add-projectset-link">Add a new project set</a>
        <form id="new_projectset_form" class="new_projectset"
              method="PUT" name="new_projectset_form"
              action="${req.publisher.generate(offering, OfferingRESTView)}">
          <div id="new_projectset_div">
            <label for="group_size">Group Size:</label>
            <input type="text" name="group_size" id="group_size"></input> Leave blank for individual projects. Enter 0 for unlimited membership.
            <br />
            <input type="submit" id="submit_new_projectset" name="Bob"
                   value="Create"/>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
