<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>${project.name} for ${project.project_set.offering.subject.name}</title>
  </head>
  <body>
    <h1>${project.name} for ${project.project_set.offering.subject.name}</h1>
    <div id="ivle_padding">
      <div class="contextactions">
        <a py:if="'edit' in permissions"
           class="editaction"
           href="${req.publisher.generate(project, ProjectEdit)}">
           Change details
        </a>
        <a py:if="'edit' in permissions"
           class="deleteaction"
           href="${req.publisher.generate(project, ProjectDelete)}">
           Delete project
        </a>
      </div>
      <a py:if="project.url not in (None, '')" href="${project.url}">${project.url}</a>
      <p>Deadline: ${format_datetime(project.deadline)}</p>
      <p>${project.synopsis}</p>
      <p>Submissions: ${project.latest_submissions.count()}/${project.project_set.assigned.count()}</p>

      <h2>Latest submissions</h2>
      <p>Check these out with your IVLE username and Subversion password, as
      documented under <a class="helpaction"
      href="/+help/Files/Subversion#external">External Subversion
      access</a>.<br />
      <a class="marksaction"
           href="${req.publisher.generate(project, ProjectExport)}">
           Bash script for exporting submitted projects
        </a>
      </p>
      <div py:if="project.latest_submissions.count() == 0">
        There are no submissions.
      </div>
      <table id="project_submissions" class="pretty_table" summary="Latest Submissions"
             py:if="project.latest_submissions.count() > 0">
        <thead>
          <tr>
            <th>Group</th>
            <th>Submitter</th>
            <th>Date</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
        <py:for each="submission in project.latest_submissions">
          <tr>
          <py:choose test="submission.assessed.principal is submission.submitter">
            <td py:when="True">-</td>
            <td py:otherwise=""><span title="${submission.assessed.principal.display_name}">${submission.assessed.principal.short_name}</span></td>
          </py:choose>
            <td><span title="${submission.submitter.display_name}">${submission.submitter.short_name}</span></td>
            <td>${submission.date_submitted.strftime("%Y-%m-%d %H:%M:%S")}</td>
            <td>${submission.get_svn_export_command(req)}</td>
          </tr>
        </py:for>
        </tbody>
      </table>

      <h2>Assigned submitters</h2>
      <div py:if="project.project_set.assigned.count() == 0"
           py:choose="project.project_set.is_group">
        <py:when test="True">There are no groups assigned to submit this project. Do you want to <a href="${req.publisher.generate(project.project_set, GroupsView)}">create some</a>?</py:when>
        <py:otherwise>There are no students assigned to submit this project. Do you want to <a href="${req.publisher.generate(project.project_set.offering, EnrolView)}">enrol some</a>?</py:otherwise>
      </div>
      <table id="project_assigneds" class="pretty_table"
             py:if="project.project_set.assigned.count() > 0">
        <thead><tr><th>Assigned</th></tr></thead>
        <tbody>
        <py:for each="assignee in project.project_set.assigned">
          <tr>
            <td><span title="${assignee.display_name}">${assignee.short_name}</span></td>
            <!-- <td><a>Grant an extension</a></td> -->
          </tr>
        </py:for>
        </tbody>
      </table>
    </div>
  </body>
</html>
