<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Project - ${project.short_name}</title>
  </head>
  <body>
    <h1>Project - ${project.short_name}</h1>
    <div id="ivle_padding">
      <h2>${project.name}</h2>
      <p>${project.synopsis}</p>
      <p>Number of Asesseds - <strong>${project.assesseds.count()}</strong></p>
      <p>Number of Submissions - <strong>${len(submissions)}</strong></p>
      <h3>Latest Submissions</h3>
      <py:for each='submission in submissions'>
        <p>Submitted By: <strong>Somebody.</strong></p>
      </py:for>
    </div>
  </body>
</html>
