<li xmlns='http://www.w3.org/1999/xhtml'
    xmlns:py='http://genshi.edgewall.org/'
    id='project_${project.id}'>
  <div class='project-title'>
    <a href="${req.publisher.generate(project)}"><strong>${project.name}</strong></a>
    <a href='${req.publisher.generate(project, ProjectEdit)}'><img
      src='/+media/ivle.webapp.core/images/interface/pencil.png' alt="Edit"
      title="Edit project" /></a>
    <a href='${req.publisher.generate(project, ProjectDelete)}'><img
      src='/+media/ivle.webapp.core/images/interface/delete.png' alt="Delete"
      title="Delete project" /></a>
  </div>
  <pre class='project-synopsis'>${project.synopsis}</pre>
</li>
