<li xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    id='projectset_${projectset.id}'>
  <py:choose test="projectset.max_students_per_group">
    <h3 py:when="None">
      Solo projects
      <a class="editaction" href="${req.publisher.generate(projectset, ProjectSetEdit)}">Edit</a>
    </h3>
    <h3 py:otherwise="">
      Group projects
      <span py:if="projectset.max_students_per_group != 0"> - up to ${projectset.max_students_per_group} students per group</span>
      <a class="groupaction" href="${req.publisher.generate(projectset, GroupsView)}">Manage groups</a>
      <a class="editaction" href="${req.publisher.generate(projectset, ProjectSetEdit)}">Edit</a>
    </h3>
  </py:choose>
  <ul id="projectslist_${projectset.id}">
    <li py:if="len(projects) == 0" class="list_empty_indicator">No projects.</li>
    <py:for each="project in projects">
      ${project}
    </py:for>
    <li class="add-project">
      <a href="${req.publisher.generate(projectset, ProjectNew)}"
         class="addaction">Add a new project</a>
    </li>
  </ul>
</li>
