<li xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    id='projectset_${projectset.id}'
    style="display: none;">
  <py:choose test="projectset.max_students_per_group">
    <h3 py:when="None">
      Solo projects
    </h3>
    <h3 py:otherwise="">
      Group projects
      <span py:if="projectset.max_students_per_group != 0"> - up to ${projectset.max_students_per_group} students per group</span>
      <a class="groupaction" href="${req.publisher.generate(projectset, GroupsView)}">Manage groups</a>
    </h3>
  </py:choose>
  <ul id="projectslist_${projectset.id}">
    <li py:if="len(projects) == 0" class="list_empty_indicator">No projects.</li>
    <py:for each="project in projects">
      ${project}
    </py:for>
    <li class="add-project">
      <a href="#" id="add_new_project_${projectset.id}"
         class="add-project-link addaction">Add a new project</a>
      <form id="new_project_${projectset.id}" class="new_project" method="post" action="${req.publisher.generate(projectset, ProjectSetRESTView)}">
        <div>
          <label for="new_project_name_${projectset.id}">Name:</label>
          <input id="new_project_name_${projectset.id}" type="text" name="name" value="" />
          <br />
          <label for="new_project_short_name_${projectset.id}">Short Name:</label>
          <input id="new_project_short_name_${projectset.id}" type="text" name="short_name" value="" />
          <br />
          <label for="new_project_deadline_${projectset.id}">Deadline:</label>
          <input id="new_project_deadline_${projectset.id}" type="text" name="deadline" value="YYYY-MM-DD HH:mm:ss" />
          <br />
          <label for="new_project_syn_${projectset.id}">Synopsis:</label>
          <textarea id="new_project_syn_${projectset.id}" name="synopsis" rows="6"></textarea>
          <br />
          <input type="hidden" name="ivle.op" value="add_project" />
          <input type="submit" value="Create" id="submit_project_${projectset.id}" class="submit-project" />
        </div>
      </form>
    </li>
  </ul>
</li>
