<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Subjects</title>
  </head>
  <body>
    <h1>Subjects</h1>
    <div id="ivle_padding">
      <p py:if="len(semesters) == 0">You are not currently enrolled in any subjects.</p>
      <py:for each="(semester, offerings) in semesters">
        <h2 py:attrs="{'class': 'subject_current' if semester.state == u'current' else None}">
          ${semester.year}, semester ${semester.semester}
        </h2>
        <ul>
          <li py:for="offering in offerings">
            <a href="${req.publisher.generate(offering)}">${offering.subject.name}</a>
          </li>
        </ul>
      </py:for>
      <py:if test="defined('subjects')">
        <h1>All subjects</h1>
        <table class="pretty_table">
          <thead><tr><th>Subject</th><th>Code</th><th>Actions</th></tr></thead>
          <tbody>
            <tr py:for="subject in subjects">
              <td><a href="${req.publisher.generate(subject)}">${subject.name}</a></td>
              <td>${subject.code}</td>
              <td>
                <a href="${req.publisher.generate(subject, SubjectEdit)}" title="Edit"><img src="${mediapath + 'interface/pencil.png'}" alt="Edit" /></a>
              </td>
            </tr>
          </tbody>
        </table>
        <p>
          <a class="addaction" href="/subjects/+new">Create new subject</a>
        </p>
      </py:if>
    </div>
  </body>
</html>
