<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Manage subjects</title>
  </head>
  <body>
    <h1>Manage subjects</h1>
    <div id="ivle_padding">
      <div class="majorsection">
        <h2>Subjects</h2>
        <table class="pretty_table">
          <thead><tr><th>Subject</th><th>Code</th><th>Actions</th></tr></thead>
          <tbody>
            <tr py:for="subject in subjects">
              <td>${subject.name}</td>
              <td>${subject.code}</td>
              <td>
                <a href="${req.publisher.generate(subject, SubjectEdit)}" title="Edit"><img src="${mediapath + 'interface/pencil.png'}" alt="Edit" /></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="horizontalactions">
          <a class="addaction" href="/subjects/+new">Create new subject</a>
          <a class="addaction" href="/subjects/+new-offering">Create new offering</a>
        </div>
      </div>
      <div class="majorsection">
        <h2>Semesters</h2>
        <table class="pretty_table">
          <thead><tr><th>Year</th><th>Semester</th><th>State</th><th>Actions</th></tr></thead>
          <tbody>
            <tr py:for="semester in semesters">
              <td>${semester.year}</td>
              <td>${semester.semester}</td>
              <td>${semester.state}</td>
              <td>
                <a href="${req.publisher.generate(semester, SemesterEdit)}" title="Edit"><img src="${mediapath + 'interface/pencil.png'}" alt="Edit" /></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="horizontalactions">
          <a class="addaction" href="/+semesters/+new">Create new semester</a>
        </div>
      </div>
    </div>
  </body>
</html>
