<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Administer - ${user.nick}</title>
  </head>
  <body>
    <h1>Administer ${user.nick}</h1>
    <div id="ivle_padding">
      <form class="verticalform" action="" method="post">
        <div>
          <label for="field_login">Login:</label>
          <span id="field_login">${user.login}</span>
        </div>
        <div>
          <label for="field_unixid">UID:</label>
          <span id="field_unixid">${user.unixid}</span>
        </div>
        <div>
          <label for="field_disabled">Disabled:</label>
          <input py:if="user.state in (u'enabled', u'disabled')"
              py:attrs="{'disabled': 'disabled'} if disable_admin else {}"
              type="checkbox" name="disabled" id="field_disabled" />
          <span py:if="user.state not in (u'enabled', u'disabled')">
            Has not accepted agreement
          </span>
        </div>
        <div>
          <label for="field_admin">Administrator:</label>
          <input type="checkbox" name="admin" id="field_admin"
              py:attrs="{'disabled': 'disabled'} if disable_admin else {}" />
          <span py:if="'admin' in errors" class="form_error">${errors.admin}</span>
        </div>
        <div>
          <label for="field_fullname">Full name:</label>
          <input type="text" name="fullname" id="field_fullname" size="40" />
          <span py:if="'fullname' in errors" class="form_error">${errors.fullname}</span>
        </div>
        <div>
          <label for="field_studentid">Student ID:</label>
          <input type="text" name="studentid" id="field_studentid" size="40" />
          <span py:if="'studentid' in errors" class="form_error">${errors.studentid}</span>
        </div>
        <p><input type="submit" value="Save Changes" /></p>
      </form>
    </div>
  </body>
</html>
