<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Edit profile - ${context.nick}</title>
  </head>
  <body>
    <h1>Edit profile of ${context.nick}</h1>
    <div id="ivle_padding">
      <div class="contextactions">
        <a py:if="req.user.admin" class="manageaction" href="/~${context.login}/+admin">Administer user</a>
        <a py:if="context.passhash" class="keyaction" href="/~${context.login}/+changepassword">Change password</a>
        <a py:if="req.user.admin" class="keyaction" href="/~${context.login}/+resetpassword">Reset password</a>
      </div>
      <p>
        ${context.fullname} (<b>${context.login}</b><py:if test="context.studentid"> / ${context.studentid}</py:if>)
      </p>
    
      <p py:if="context.admin">Privilege: <strong>IVLE administrator</strong></p>

      <form class="verticalform" action="" method="post">
        <div>
          <label for="nick">Display name:</label>
          <input type="text" name="nick" id="nick" size="40" />
          <span py:if="'nick' in errors" class="form_error">${errors.nick}</span>
        </div>
        <div>
          <label for="email">Email address:</label>
          <input type="text" name="email" id="email" size="40" />
          <span py:if="'email' in errors" class="form_error">${errors.email}</span>
        </div>
        <div>
          <label for="svn_pass">Subversion URL:</label>
          ${svn_url}
          <a class="helpaction" href="/+help/Files/Subversion#external" title="What's this?"></a>
        </div>
        <div>
          <label for="svn_pass">Subversion password:</label>
          <!-- Hidden from view for security reasons -->
          <span id="svn_pass" style="display: none">${svn_pass}</span>
          <a id="svn_pass_show" class="fakelink"
              onclick="$('#svn_pass').show(); $('#svn_pass_show').hide(); $('#svn_pass_hide').show()">(show)</a>
          <a id="svn_pass_hide" class="fakelink" style="display: none"
              onclick="$('#svn_pass').hide(); $('#svn_pass_show').show(); $('#svn_pass_hide').hide()">(hide)</a>
        </div>
        <div class="submit form_error" py:if="defined('error_value')" py:content="error_value" />
        <div class="submit"><input type="submit" value="Save" /></div>
      </form>

      <h3 py:if="context.pass_exp or context.acct_exp">Notices</h3>
      <p py:if="context.pass_exp">
        Your password will expire
        <span title="${format_datetime(context.pass_exp)}">${format_datetime_short(context.pass_exp)}</span>.
        You should change it before then to avoid having your account
        disabled.
      </p>
      <p py:if="context.acct_exp">
        Your IVLE account will expire
        <span title="${format_datetime(context.acct_exp)}">${format_datetime_short(context.acct_exp)}</span>.
      </p>
    </div>
  </body>
</html>
