<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <script type="text/javascript">
      settings_login = '${login}';
    </script>
  </head>
  <body>
    <h1>User Profile</h1>
    <div id="ivle_padding">
      <p>
        <span id="login"></span>
      </p>
      <p id="admin"></p>
      <h3>Change settings</h3>
      <form action="">
        <table>
          <tr>
            <td>Display name:</td>
            <td>
              <input type="text"
                  name="nick" id="nick" size="40" />
            </td>
          </tr>
          <tr>
            <td>Email address:</td>
            <td>
              <input type="text"
                  name="email" id="email" size="40" />
            </td>
          </tr>
        </table>
        <div id="changepassword"></div>
        <p id="result"></p>
        <p>
          <input value="Save" onclick="return save_settings()" id="save"
                type="submit" />
          <input value="Revert" onclick="return revert_settings()" id="revert"
                type="reset" />
        </p>
      </form>
      <div id="notices"></div>
    </div>
  </body>
</html>
