<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Reset password - ${user.nick}</title>
  </head>
  <body>
    <h1>Reset password for ${user.nick}</h1>
    <div id="ivle_padding">
      <p>
        This page lets administrators reset any user's password, without
        knowledge of that password. Be very careful.
      </p>
      <p py:if="not user.passhash">
        <strong>Warning:</strong> This user currently has no IVLE password
        set. This probably means that their password is checked against
        another password database. Setting a new one will override any
        external database.
      </p>
      <form action="" method="post">
        <table>
          <tr>
            <th>New password:</th>
            <td>
              <input type="password" name="new_password" size="40" />
            </td>
          </tr>
          <tr>
            <th>New password again:</th>
            <td>
              <input type="password" name="new_password_again" size="40" />
            </td>
          </tr>
        </table>
        <p py:if="error" py:content="error" />
        <p><input type="submit" value="Reset password" /></p>
      </form>
    </div>
  </body>
</html>
