<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Administer - ${user.nick}</title>
  </head>
  <body>
    <h1>Administer ${user.nick}</h1>
    <div id="ivle_padding">
      <form action="" method="post">
        <table>
          <tr>
            <th>Login:</th>
            <td>${user.login}</td>
          </tr>
          <tr>
            <th>UNIX ID:</th>
            <td>${user.unixid}</td>
          </tr>
          <tr>
            <th>Administrator:</th>
            <td>
              <input type="checkbox" name="admin" />
              <span py:if="'admin' in errors" class="form_error">${errors.admin}</span>
            </td>
          </tr>
          <tr>
            <th>Full name:</th>
            <td>
              <input type="text" name="fullname" size="40" />
              <span py:if="'fullname' in errors" class="form_error">${errors.fullname}</span>
            </td>
          </tr>
          <tr>
            <th>Student ID:</th>
            <td>
              <input type="text" name="studentid" size="40" />
              <span py:if="'studentid' in errors" class="form_error">${errors.studentid}</span>
            </td>
          </tr>
        </table>
        <p><input type="submit" value="Save Changes" /></p>
      </form>
    </div>
  </body>
</html>
