#console_output {
    /*border: solid black 1pt;*/
    height: 24em;
    overflow: scroll;
    margin-bottom: 4pt;
    padding: 4pt;
}
#console_input {
    /*border: solid green 1pt;*/
}
#console_prompt {
    font-family: monospace;
}
pre.errorMsg {
    color: red;
    margin-top: 0em;
    margin-bottom: 0em;
}
pre.inputMsg {
    color: gray;
    margin-top: 0em;
    margin-bottom: 0em;
}
pre.outputMsg {
    margin-top: 0em;
    margin-bottom: 0em;
}
