#console_body {
    background-color: black;
    color: white;
    padding: 0;
    width: 100%;
}
/* console_body when displayed as a window panel and not the whole app */
#console_body.windowpane {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;     /* Go in front of console_filler */
}
#console_body2 {
    padding: 0.5em;
}
/* Heading bar */
#console_heading {
    background-color: gray;
    border: 2px solid black;
    padding: 2px;
    color: black;
    font-family: monospace;
    font-weight: bold;
}
/* If "minimized", console_heading and console_output are hidden */
#console_body.minimal #console_heading,
#console_body.minimal #console_output,
/* If "maximized", the maximize button is hidden */
#console_body.maximal .maximize {
    display: none;
}
/* Minimize/maximize button */
.console_button {
    cursor: pointer;    /* Display hand cursor, since this is a button */
    position: absolute;
    right: 0.5em;
}
#console_output {
    /*border: solid black 1pt;*/
    height: 20em;
    overflow: scroll;
    margin-bottom: 0.5em;
}
#console_input {
    /*border: solid green 1pt;*/
}
#console_prompt {
    font-family: monospace;
}
#console_inputText {
    background-color: black;
    color: white;
    width: 90%;
}
/* console filler takes up the same space as console_body.windowpane
 * but its position is relative, not fixed.
 * This avoids having the console overlap with the bottom 28em of page
 * content.
 * It has two classes. "windowpane" turns it on. "minimal" or "maximal"
 * control its height.
 */
#console_filler {
    display: none;
}
#console_filler.windowpane {
    display: block;
    z-index: -1;        /* Go behind the actual console */
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
#console_filler.maximal {
    /* total height of console = 20em + 1em + 0.5em + 0.5em + 0.5em + 1em + borders
     */
    height: 24em;
}
#console_filler.minimal {
    /* total height of console = 1em + 0.5em + 0.5em
     */
    height: 2em;
}
pre.errorMsg {
    color: red;
    margin-top: 0em;
    margin-bottom: 0em;
}
pre.inputMsg {
    color: gray;
    margin-top: 0em;
    margin-bottom: 0em;
}
pre.outputMsg {
    margin-top: 0em;
    margin-bottom: 0em;
}
