#svnlog {
	padding: 0;
}

#svnlog > li {
	margin: 0.5em 0;
	border: 2px solid #bbb;

	list-style-type: none;
}

#svnlog > li > h2 {
	padding: 0.2em;
	margin: 0;
	background: #eee;
	font-size: medium;
	font-weight: normal;
}

#svnlog > li > div.svnlogcontent {
	padding: 0.2em;
}

#svnlog > li > div > div.svnlogpathlist {
	border-top: 1px solid black;
	font-size: smaller;
}

#svnlog > li div.svnlogpathlist h3 {
	margin: 0.5em;
}
