.testsuite {
  display: none;
  width: 1000px;
}

.test_variables {
  display: none;
}

.test_cases {
  display: none;
}

.test_cases > ul > li {
  margin: 0.5em;
  border: 1px solid #aaa;
}

.test_cases > ul > li > h5 {
  padding: 0.2em;
  margin: 0;
  background: #e8e8e8;
}

.test_cases > ul > li > h5 img{
  vertical-align: top;
}

.test_case {
  display: none;
  margin: 1.5em;
}


.textinput {
  width: 350px;
}

.test_suite_vals div label {
  float: left;
  text-align: right;
  width: 100px;
}

#add_suite {
  display: none;
}

.add_variable {
  display: none;
}

.test_case_parts {
  display: none;
}

.add_new_part {
  display: none;
}

.exercise_names div {
  float: left;
  text-align: left;
  width: 250px;
}

li {
  list-style: none;
}
