.exercise {
    background: #b1e2be url(images/signature.png) no-repeat top left;
    color: navy;
    margin: 0 5% 0 1em;
    padding: 0 .5em .5em 25px;
    border-left: 1px solid gray;
    border-right: 2px solid gray;
    border-top: 1px solid gray;
    border-bottom: 2px solid gray;
    -moz-border-radius: 10px;
}

.exercisebox, .runoutput {
    width: 80%;
    margin-bottom: 1.5em;
}

.exercisebuttons {
    text-align: right;
}

/* Test case outputs are shown as a bulleted list, with these icons as the
 * bullets. */

li.check {
    list-style: url(images/check.png);
}
li.cross {
    list-style: url(images/cross.png);
}
li.pass {
    list-style: url(images/pass.png);
}
li.fail {
    list-style: url(images/fail.png);
}
li.semifail {
    list-style: url(images/semifail.png);
}
li.exception {
    list-style: url(images/exception.png);
}

li.complete {
    list-style: url(images/pass.png);
}
li.incomplete {
    list-style: url(images/incomplete.png);
}
li.semicomplete {
    list-style: url(images/semifail.png);
}

#tutorial-toc li.complete {
    list-style: url(images/tiny/complete.png);
    margin-left: 1.5em;
}
#tutorial-toc li.incomplete {
    list-style: url(images/tiny/incomplete.png);
    margin-left: 1.5em;
}
#tutorial-toc li.semicomplete {
    list-style: url(images/tiny/semicomplete.png);
    margin-left: 1.5em;
}

/* Cancel out the main stylesheet's h1 (the golden bar at the top).
 * Make it just look like the default (HTML4) style sheet's h1, but a bit
 * smaller.
 */
#ivle_padding h1 {
    background: none;
    margin: 0;
    padding: 0;
    margin: 0.67em 0;
    border: 0;
    font-weight: bolder;
    /* font-size: 2em; (standard) */
    font-size: 1.6em;
}

h1 a, h2 a {
    color: black;
    text-decoration: none;
    cursor: default;
}
h1 a:hover, h2 a:hover {
    color: black;
    text-decoration: none;
    cursor: default;
}

.attempthistory h3 {
    font-size: 1em;
    color: black;
}
/* Drop-down box */
.attempthistory select {
    width: 20em;
}

